html,body {
    height: 100%;
    font-size: 20px;
 
}


.col-1,.col-2,.col-3 {
    width: 100%;
}
p{
    text-align: center;
    font-size: 1.2em;
    color: #ffffff;
   


}
.box{
	width: 100%;
}
.col-1 {
    background-color: #6495ED;
    height: 100px;
    font-size: 2em;
}

.col-2 {
    background-color: #B8860B;
    height: 100px;
    font-size: 2em;
}
.col-3 {
    background-color:   #FF00FF;
    height: 100px;
    font-size: 2em;
}