body { 
    font-family: Arial; 
    margin: auto; 
    padding: 5px; 
} 
.toggle { 
    text-align: center; 
    margin-top: 20%; 
} 
.toggle a { 
        padding: 10px; 
        color:  #00008B; 
        border: 1px solid #999; 
        text-decoration: none; 
        box-shadow: 2px 2px 2px #999; 
} 
.toggle a:hover { 
    background-color:   #00008B; 
    box-shadow: 2px 2px 10px #999; 
} 
.slide { 
    background-color: #eee; 
    top: 0; 
    position: fixed; 
    left: -9999px; 
    height: 100%; 
    padding: 15px; 
    transition: left 1.5s ease, width 2s ease; 
} 
.close a { 
    position: absolute; 
    right: 10px; 
    top: 10px; 
    text-decoration: none; 
    padding: 4px; 
    color: #DC143C; 
} 
.close a:hover { 
    background-color: #DC143C; 
    color: #fff; 

} 
#slide:target { 
    width: 150px; 
    left: 0; 
} 
    