
.container {
    display: flex;
    flex-wrap: wrap;
}
.box {
    width: 100%;
    text-align: center;


}
.black{
    background-color:black; 

}
.green {
     background-color: green;
}
.blue{
    background-color: blue;

}
@media screen and (min-width: 450px) {
    .black {
        width: 25%;
        text-align: center;
        color: white;
        font-size: 1.4em;
        text-decoration: underline;

        
    }
    .green {
        width: 75%;
        text-align: center;
        color: white;
       text-decoration: underline;
         font-size: 1.4em;
        
      
    }
    .blue{
    	width: 100%;
    	order: 1;
        text-align: center;
        color: white;
        text-decoration: underline; /* underline text this resolution only */
         font-size: 1.4em;
        
    }
}

/* We apply Style to fonts here only */
@media screen and (min-width: 750px) {
    .black,
    .blue {
        width: 25%;
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 1.6em;
        text-decoration: none;/* Remove underline*/
       
    }
    .green {
        width: 50%;
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 1.6em;
        text-decoration: none;/* Remove underline*/
        
    }
}